<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
<!--
        <li><a href="https://itunes.apple.com/au/podcast/link-rot/id1164283834?mt=2">iTunes</a></li>
        <li><a href="https://zoomquiet.io">大妈官网</a></li>
        <li><a href="{{ site.itunes }}">iTunes</a></li>
-->
        <li><a href="{{ site.baseurl }}/podcast.xml">RSS</a></li>
        <li><a href="https://www.youtube.com/@Chaos42DAMA">Youtube</a></li>
        <li><a href="https://www.xiaoyuzhoufm.com/podcast/618929e0633ec15a3b46145e">小宇宙</a></li>


    </ul> 
</nav>